body {
    text-align: center;
}

.btn{
    /* background-color: red; */
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 10px 20px 20px 20px;
}

.btn-container{
    display: flex;
    justify-content: center;
}   

.red{
    background-color: red;
}
.green{
    background-color: rgb(26, 255, 0);
}
.blue{
    background-color: rgb(8, 0, 255);
}
.yellow{
    background-color: rgb(255, 238, 0);
}

.flash{
    background-color: rgb(0, 0, 0);
}